<!DOCTYPE html>
<html lang="en" >
 
<head>
  <meta charset="UTF-8">
  <title>Augi</title> 
      
      <link rel="stylesheet" href="/static/izskatsSett.css">

  
</head>

<body>
  <a href="/">
    <div class="container">
      <img id= "podzina", src="static/buttons/pogs.png" alt="poga">
      <div class="centered">Back</div>
  </div>
  </a>  
    <header>
        <h2>Balstaudi augos</h2>
        
      </header>

      <section>

  <article id="flesh">
  <img src="static/buttons/apaksa1.jpg" id="bone">
</article>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  

    <script  src="js/kustiba.js"></script>


</section>

</body>

</html>
