<!DOCTYPE html>
<html lang="en">
<head>
<title>Assistent</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="static/izskats69.css">

</head>
<body>
  <a href="/">
    <div class="container">
      <img id= "podzina", src="/static/buttons/pogs.png" alt="poga">
      <div class="centered">Back</div>
  </div>
  </a>  
  <header>
    <h2>Fish-E asistant</h2>
  </header>


<div id="rcorners1"> 
  <h2>Aquarium updates</h2>
  <ul>
    <li>The aquarium is in perfect condition!</li>
    <li>BUBBLES: gave birth.</li>
    <li>GURGLE: moved a rock.</li>
    <li>GURGLE Jr.: moved a rock.</li>
    <li id="attention">Looks like the water will need to be changed next week.</li>
  </ul>
</div>
<div id="AI">
  <h2>Current stats: Water in aquarium is {{tirums}} </h2>
  <img style="border-radius: 50px; width: 100%;" src="{{atelaLink}}" alt="AI">
  
</div>
  

</body>

</html>