<!DOCTYPE html>
<html lang="en">
<head>
<title>Fish-E web page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/izskats.css">

</head>



<body  id = "body">


<header>

   <img id= "aiz", src="static/buttons/V4.jpg" >
</header>

<section>
  
  
  
  <article>
      
    
      <ul id="navlist">
          <li id="home">
            <a href="/settings">
            <div class="container">
              <img id= "podzinas", src="static/buttons/1aiz.png" alt="poga">
              <div class="centered">Settings</div>
            </div>
            </a>  
          </li>
          <li id="prev">
              <a href="/assistent">
              <div class="container">
                  <img id= "podzinas", src="static/buttons/2aiz.png" alt="poga">
                  <div class="centered">Assistent</div>
              </div>
            </a>  
          </li>
          <li id="next">
            <a href="/history">
              <div class="container">
                  <img id= "podzinas", src="static/buttons/3aiz.png" alt="poga">
                  <div class="centered">Your history</div>
              </div> 
            </a> 
          </li>
          <li id="next">
            <a href="/info">
              <div class="container">
                  <img id= "podzinas", src="static/buttons/4aiz.png" alt="poga">
                  <div class="centered">Info</div>
              </div>
              </a>  
          </li>
      </ul>
  </article>
</section>
<div>

<br>


<script >

   
    
    
    
     setTimeout("location.reload();",1500000);

    
</script>

</body>
<footer>
  <p> </p>
</footer>


</html>
