<!DOCTYPE html>
<html>
<head>
<title>Settings</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"  href="static/izskatsSett.css">
</head>


<body>
<header>
  <a href="/">
    <div class="container">
      <img id= "podzina", src="static/buttons/pogs.png" alt="poga">
      <div class="centered">Back</div>
  </div>
  </a>  
  <h2>Settings</h2>
  
</header>

<section>
  <nav>
    <ul>
      
      <li class="saturs_lielie"><a href="#C1">Your information </a></li>
      <li class="saturs_lielie"><a href="#C2"> Your settings</a></li>
      <li class="saturs_lielie"><a href="#C3">Support</a></li>


      <li class="saturs_lielie"><a href="#C4">4.	Radosais darbs</a></li>
      <li class="saturs_lielie"><a href="#C5">5.	Secinajumi</a></li>

    </ul>
  </nav>
  
  <article>
    
    <h1 class="virsraksti" id="C1">Your information</h1>
    <p class="teksts">In "Your settings" you can define your aquarium parameters, Your preferred settings, devices, occupants, ect.
      
    <ul>
            <li class="teksts"> 
            <form>
              Aquarium size:
              <input type="text">
              liters.
              </form> </li>
            <li class="teksts">sklerenhima</li>
            <li class="teksts">skreleida</li>
    </ul>
    </p>

    

</body>
</html>
